
body{
    font-size: larger;
}
.btn{
    font-size: larger;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: solid 2px;
    color: white;
    background-color: rgb(73, 71, 71);
}
.btn2{
    font-size: larger;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: solid 2px;
    color: white;
    background-color: rgb(241, 122, 24);
}
.btn3{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: solid 2px;
    color: white;
    background-color: rgb(73, 71, 71);
    font-weight: bold;
}